@import "tailwindcss";
@import 'primereact/resources/themes/lara-light-blue/theme.css';  
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge */
    scrollbar-width: none;  /* Untuk Firefox */
}

body::-webkit-scrollbar {
    display: none;
}